In [1]:
import pandas as pd
pred = pd.read_csv('predictions.csv')
pred.rename(columns={0:1,1:2,2:3,3:4}, inplace=True)
pred.set_index('idhogar', inplace=True)

/home/minnie/.pyenv/versions/3.6.6/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/minnie/.pyenv/versions/3.6.6/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
from sklearn.feature_selection import VarianceThreshold

t = 0.86
sel = VarianceThreshold(threshold=(t * (1 - t)))
transpose = pred.T
sel.fit(transpose)
features = sel.get_support(indices = True)
features = transpose[[transpose.columns.values[i] for i in features]]
confident = features.T

In [4]:
tricky = pred[~pred.isin(confident).all(1)].head()

In [5]:
tricky.head()

                  1         2         3         4
idhogar
000a08204  0.264541  0.309857  0.331078  0.648211
000bce7c4  0.560699  0.519854  0.461190  0.281326
001845fb0  0.339603  0.344379  0.241315  0.725913
003514e22  0.273967  0.221175  0.497080  0.635551
003b51a87  0.813393  0.734923  0.494889  0.213378

In [21]:
(tricky.T - tricky.mean(axis=1) - tricky.std(axis=1)).T

                  1         2         3         4
idhogar
000a08204 -0.299283 -0.253967 -0.232746  0.084387
000bce7c4 -0.018325 -0.059171 -0.117834 -0.297698
001845fb0 -0.287276 -0.282500 -0.385564  0.099034
003514e22 -0.326693 -0.379485 -0.103580  0.034891
003b51a87 -0.021014 -0.099484 -0.339518 -0.621029

In [20]:
tricky.head()

                  1         2         3         4
idhogar
000a08204  0.264541  0.309857  0.331078  0.648211
000bce7c4  0.560699  0.519854  0.461190  0.281326
001845fb0  0.339603  0.344379  0.241315  0.725913
003514e22  0.273967  0.221175  0.497080  0.635551
003b51a87  0.813393  0.734923  0.494889  0.213378

In [19]:
tricky.mean(axis=1)

idhogar
000a08204    0.388422
000bce7c4    0.455767
001845fb0    0.412803
003514e22    0.406943
003b51a87    0.564146
dtype: float64

In [18]:
tricky.std(axis=1)

idhogar
000a08204    0.175402
000bce7c4    0.123257
001845fb0    0.214076
003514e22    0.193717
003b51a87    0.270261
dtype: float64