In [19]:
from kernel_submission_2 import *
train_df = load_train_data()
train_df = get_balanced_data(train_df)

In [103]:
ind = [household_id, 'parentesco1', 'escolari', 'rez_esc', 'dis', 'male', 'female', 'education-level', 'age', target_column]
ind_school = train_df[ind]

In [21]:
from data_cleaning import target_table_breakdown
# No schooling
target_table_breakdown(ind_school[(ind_school['education-level']==1) & (ind_school['age']>7)])

   total  proportion         target description
1     44    0.330827            extreme poverty
2     40    0.300752           moderate poverty
3     39    0.293233      vulnerable households
4     10    0.075188  non vulnerable households

In [46]:
# Didn't complete primary school
target_table_breakdown(ind_school[(ind_school['education-level']<3) & (ind_school['age']>12)])

   total  proportion         target description
1    166    0.320463            extreme poverty
2    156    0.301158           moderate poverty
3    127    0.245174      vulnerable households
4     69    0.133205  non vulnerable households

In [35]:
# Graduated university
target_table_breakdown(ind_school[ind_school['education-level']==8])

   total  proportion         target description
4    179    0.685824  non vulnerable households
3     39    0.149425      vulnerable households
2     26    0.099617           moderate poverty
1     17    0.065134            extreme poverty

In [36]:
# Post grad
target_table_breakdown(ind_school[ind_school['education-level']==9])

   total  proportion         target description
4     17    0.944444  non vulnerable households
3      1    0.055556      vulnerable households

In [68]:
# ind_school['rez_esc'] = ind_school['rez_esc'].astype(int)
# df.loc[(df['rez_esc'].isnull()) & ((df['age'] < 7) | (df['age'] > 19)), 'rez_esc'] = 0
ind_school[ind_school['rez_esc']>1]
# age 15 level should be 2 or 3? escolari 8
# age 15/16 level should be 4 or 6? escolari 8 or 9
# 13 escolari 5
# 14 escolari 6
# 15 escolari 7
# 16 escolari 8
# 17 escolari 9
# 18 escolari 10
ind_school[ind_school['age']==13]['escolari'].value_counts()

6    31
7    12
5     9
4     3
3     2
2     1
Name: escolari, dtype: int64

In [86]:
# Didn't finish school
# ind_school[ind_school['age'].apply(lambda x: min(x,18))-ind_school['escolari']>8]
ind_school['gen-rez_esc'] = (ind_school['age'].apply(lambda x: min(x,18))-ind_school['escolari']).astype(int)

/home/minnie/.pyenv/versions/jupyter3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [94]:
target_table_breakdown(ind_school[(ind_school['gen-rez_esc']>8) & (ind_school['male']==1)])

   total  proportion         target description
3    202    0.287749      vulnerable households
2    191    0.272080           moderate poverty
4    157    0.223647  non vulnerable households
1    152    0.216524            extreme poverty

In [100]:
target_table_breakdown(ind_school[(ind_school['gen-rez_esc']<8) & (ind_school['male']==1)])

   total  proportion         target description
4    203    0.307110  non vulnerable households
1    157    0.237519            extreme poverty
3    154    0.232980      vulnerable households
2    147    0.222390           moderate poverty

In [110]:
len(ind_school[ind_school['parentesco1']==1])

922

In [111]:
ind_school[household_id].nunique()

1578

In [112]:
ind_school['parentesco1'].nunique()

2